.App {
  text-align: center;
}


/* Nav Styling in App.js */
.nav-bar {
  background-color: whitesmoke;
  text-decoration: none;
  font-size: 2rem;
}

/* ul {
  display: inline-flex;
  flex-direction: row;
}

li {
  display: inline-flex;
  justify-content: space-evenly;
} */
